<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.a4devspirit.a1.medicineapp">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Result" />
        <activity android:name=".Login" />
        <activity android:name=".Registration" />
        <activity android:name=".Profile">
        </activity>
        <activity
            android:name=".Settings"
            android:theme="@style/Settings" />
        <activity android:name=".Diagnose.Boys_Diagnose" />
        <activity android:name=".Diagnose.Man_Diagnose" />
        <activity
            android:name=".Tips"
            android:theme="@style/Weather" />
        <activity android:name=".Medicalcard" />
        <activity android:name=".Reminder.About" />
        <activity android:name=".Reminder.AlarmMe" />
        <activity android:name=".Reminder.AlarmNotification" />
        <activity android:name=".Reminder.EditAlarm" />

        <receiver
            android:name=".Reminder.AlarmReceiver"
            android:process=":remote" />
        <receiver android:name=".Reminder.BootCompletedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".Diagnostics"
            android:theme="@style/Questions" />
        <activity android:name=".Diagnoses" />
        <activity android:name=".Splash" android:theme="@style/Questions">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>